%h1 Listing jobs

%table
  %tr
    %th Name
    %th Core Process
    %th Dependencies
    %th
    %th
    %th

  - @jobs.each do |job|
    %tr
      %td= job.name
      %td= job.core.file.identifier if job.core.file
      %td
        %ul
          - job.dependencies.each do |dep|
            %li=  dep.lib.file.identifier
      %td= link_to 'Run', run_job_path(job)
      %td= link_to 'Share', "/jobs/#{job.id}/share_to/user/"
      %td= link_to 'Edit', edit_job_path(job)
      %td= link_to 'Destroy', job, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Job', new_job_path
