%p#notice= notice

%p
  %b Name:
  = @job.name
%p
  %b Core:
  = @job.core
%p
  %b Parser:
  = @job.parser

%p
  %b Prompts:
  %ul
    - @job.prompts.each do |p|
      %li= "#{p.label} (#{p.field_type})"

= link_to 'Edit', edit_job_path(@job)
\|
= link_to 'Jobs list', jobs_path
