= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .row
    .large-12.columns
      = f.label       :first_name
      = f.text_field  :first_name

  .row
    .large-12.columns
      = f.label       :last_name
      = f.text_field  :last_name

  .row
    .large-12.columns
      = f.label       :email
      = f.text_field  :email, class: 'disabled'

  .row
    .large-12.columns
      = f.label     :approved
      = f.check_box :approved


  .row
    .large-12.columns
      .actions
        = f.submit 'Save', class: 'button success'
