.row
  .large-12.columns
    %h1 Listing users

    = link_to "All Users", :action => "index"
    |
    = link_to "Users awaiting approval", :action => "index", :approved => "false"

    %table
      %tr
        %th Name
        %th Email
        %th Approved?
        %th
        %th

      - @users.each do |user|
        %tr
          %td= "#{user.first_name} #{user.last_name}"
          %td= user.email
          %td= user.approved
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New User', new_user_path
