.row
  .large-12.columns
    %p#notice= notice
.row
  .large-12.columns
    %p
      %table
        %tr
          %th UUID
          %th Job
          %th % Complete
          %th Last Message
          %th Status
          %th Actions
        %tr
          %td= @run.uuid
          %td= @run.job.name
          %td= Sidekiq::Status::pct_complete @run.uuid
          %td= Sidekiq::Status::message @run.uuid
          %td= Sidekiq::Status::status @run.uuid
          %td
            - case @run.status.to_s
            - when 'working'
              = link_to 'Stop', stop_run_path(@run), class:"button radius tiny alert"
            - else
              = link_to '(Re) Start', start_run_path(@run), class:"button radius tiny"
.row
  .large-12.columns
    %p
      %pre
        = "options: #{@run.inputs.ai :plain => true}"

.row
  .large-12.columns
    = link_to 'Edit', edit_run_path(@run)
    \|
    = link_to 'Back', runs_path
